/* Universal Styles */

body {
  width: 1600px;
  font-family: bitter;
  max-width: 100%;
}
h1 {
  font-size: 2.1em;
  font-weight: bold;
  font-family: bitter;
}
h2 {
  font-size: 1.9em;
  font-weight: bold;
  font-family: bitter;
}
h3, h4 {
  font-size: 1.5em;
}
 h5 {
  font-family: fantasy;
}

/*header*/

header {
  height: 64px;
  width: 100%;
  padding: 0 24px;
  position: fixed;
  background-color: white;
  z-index: 10;
}
header .container {
  width: 100%;
}
.header-title {
  display: flex;
  vertical-align: middle;
}
.header-title h5 {
  margin-right: .3em;
  font-size: 1.6em;
}
.header-title h5:nth-child(2n+2) {
  color: hsla(200, 11%, 60%, .3);
}
.nav-container {
  width: 100%;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav:nth-child(4n+1){
  margin-right: 25px;
}
.nav-item a {
  margin-right: 16px;
  font-family: fantasy;
  color: black;
  text-decoration: none;
}
.header-logo, .header-title, .nav-container{
  padding: 24px 0;
}
.logo img{
  height: 5rem;
  width: 5rem;
}

/* Main Section */

.main-section {
  background-color: hsla(200, 11%, 60%, .3);
}
.keep-practicing-container h2 {
  margin-bottom: 24px;
  text-align: left;
}
.main-section .container .container-description, .container, .offerings {
  display: flex;
}
.keep-practicing .container .offerings {
  width: 40%;
}
.cta-container {
  width: 40%;
  padding: 10em 0px 10em 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .container-description .keep-practicing-container img{
  width: 100%;
  height: 25em;
  margin: 0 24px 32px 0;
}
.cta {
  background-color: darkgray;
  width: 20em;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 1.5em;
  border-radius: .5em;
}
.cta:hover {
  transition: background-color 1s ease-in-out 0s;
  background-color: gold;
}
.cta-container h4 {
  margin-top: 1em;
}
.cta a {
  font-size: 2em;
  font-family: bitter;
  text-decoration: none;
  color: black;
}
.main-section .container img{
  width: 60%;
  height: 25em;
  margin: 32px 24px;
}
.container-description {
  padding-top: 4em;
}
.main-section .container .container-description {
  align-items: center;
}

/* Keep-Practicing */

.keep-practicing .container .offering {
display: flex;
}
#keep-practicing h2 {
  margin-bottom: 24px;
}
.keep-practicing-container {
  width: 60%;
  margin-right: 24px;
  margin-left: 24px;
}
.keep-practicing .container .container-description {
  display: flex;
  padding-top: 32px;
}
.keep-practicing-container span {
  margin-top: 2em;
  margin-bottom: 34px;
}
.author {
  margin-left: 24px;
}
.offerings {
  flex-direction: column;
}
.offering:nth-child(3n+3) {
  background-color: hsla(200, 11%, 60%, .3);
  padding-top: 16px;
}
.information {
  width: 65%;
}
.offering:hover{
  transition: height 2s ease-out 2s, font-size 100ms ease-in 0s;
  height: 300px;
  font-size: 1.1em;
}
.offering, .article {
  align-items: center;
}
.offering img {
  width: 35%;
  height: auto;
  margin: 0 16px 16px 16px;
}
.offering p, .article p {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Start-Learning */

.start-learning {
  background-color: hsla(200, 11%, 60%, .3);
  margin-top: 32px;
}
.start-learning h2, .thesis-exhibit h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.start-learning .container {
  display: flex;
  flex-flow: wrap;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
}
.start-learning .container .class {
  margin: 0px 32px 32px 32px;
  width: 300px;
}
.container .class img{
  width: 100%;
  height: auto;
}
.class:hover {
  transition: font-size 100ms ease-in 0s;
  font-size: 1.1em;
}
.class h3 {
  margin-top: 16px;
}
.class .text {
  margin-left: 16px;
  padding-bottom: 24px;
}
.class p {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* thesis-exhibit */

.thesis-exhibit .container .video {
  width: 60%;
  margin: 0px 24px 24px 24px;
}
.thesis-exhibit .container video {
  width: 100%;
  height: auto;
}
.thesis-exhibit .container .articles .article {
  display: flex;
}
 .articles .article .description {
  width: 350px;
  text-align: justify;
}
.articles .article img {
  width: 35%;
  height: auto;
  margin: 16px;
}
.article:nth-child(0n+1) {
  background-color: hsla(200, 11%, 60%, .3);
}
.articles {
  width: 40%;
}
/* footer */
footer {
  margin-top: 16px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
